* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 10rem auto;
    max-width: 500px;
}

ul {
    margin-bottom: 1rem;
    font-size: 14px;
}

li {
    list-style-type: none;
    margin-top: .25em;
}

h1 {
    font-weight: 900;
    margin-bottom: 1rem;
}

p {
    margin-top: 1rem;
}
