$container-border-radius: 15px;

.container {
    border-radius: $container-border-radius;
    box-shadow:  10px 10px 40px rgba(0, 0, 0, 0.25);
}

.container--heading {
    border-radius: $container-border-radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.button {
    padding: 5px 20px;
}