$main-color: #203E60;
$text-color: #294A70;
$white-color: #fff;
$light-color: #F7F9FE;
$link-color: #187BCD;



body {
    color: $text-color;
}

.main {
    background-color: $main-color;
    margin: 100px;
}

.container {
    background-color: $white-color;
}


.heading--size-big, .heading--size-small {
    color: $main-color;
}

.container--heading {
    background-color: $light-color;
}

